name: Build iOS
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - 'master'
    tags:
      - '*'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      MODE: release
      TARGET_OS: ios
      TARGET_ARCH: ${{ matrix.arch }}
      TARGET_CPUREV: ${{ matrix.cpurev }}
      JOBS: 4
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14]
        arch: [arm64, x64]
        cpurev: [default]
    steps:

    # Checkout
    - name: Checkout
      uses: actions/checkout@v4

    # Clang Version
    - name: Clang Version
      run: clang --version

    # Build
    - name: Build
      run: make -j${{ env.JOBS }}
